@CHARSET "UTF-8";

.navbar {
	font-family: Verdana;
	font-size: 14px;
	background: white;
	border: none;
	padding-top: -10px;
	margin: 0;
	border-radius: 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
	overflow-x: hidden;
	position:relative;
	z-index:2;
}


.navbar .nav>li>a {
	line-height: 15px;
	padding:18px;
	color: #45a3bb;
}

.navbar .nav>li>a:hover, .navbar .nav>li>a:focus, .navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
	{
	color: #b6b6b6;
	background: transparent;
}

.navigationarea {
	margin-left: 120px;
}
.dropbtn {
    background-color: transparent;
    font-family: Verdana;
	font-size: 14px;
    padding: 17px;
    border: none;
    cursor: pointer;
    color: #45a3bb;
}
.expand {
    transition:height 0.5s;
    -webkit-transition:height 0.5s;
}
.expand:hover {
    height: 150px;
}

.img-bar {
	height: 80px;
	width: auto;
	margin-left: -40px;
}

.img-logo {
	position: absolute;
	height: 48px;
	width: auto;
	top: 30px;
	margin-left: 100px;
	margin-bottom: 10px;
	z-index: 10;
}

html, body {
	height: 100%;
}
.main {
	z-index: 1;
	background: #ffffff;
	overflow: auto;
	min-height: 300px;
	padding-bottom: 50px;
}
.front {
	z-index: 1;
	background: #faf3f2;
	min-height: 250px;
	overflow:hidden;
}
#wrap {min-height: 100%;}
.footer {
	background: url("http://i.imgur.com/Uf3PuDg.png");
	background-size: auto 50px;
	z-index: -1;
	width: 100%;
	line-height: 50px;
	color: #959595;
	text-align: center;
	font-size: 12px;
	rgin-top: -50px;
	height: 50px;
	clear: both;
}
.carousel-inner img {
	margin: auto;
}

.carousel-control {
	position: absolute;
    top: 350px;
    height: 80px;
    background: none !important;

}
.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}

#loginform {
	margin: 100px auto;
	width: 250px;
}

#searchbar {
	background: #F0F0F0;
}

#searchbar input#searchfield {
	box-sizing: border-box;
	font-style: italic;
	border: none;
	background: none;
	font-size: 20px;
	padding: 20px 36px;
}

#searchbar input#searchbutton {
	box-sizing: border-box;
	font-style: italic;
	border: none;
	font-size: 18px;
	background: none;
	height: 65px;
	width: 65px;
}
#searchbar input#searchbutton:focus {
	outline:0;
}
.message {
	padding: 50px 0px 15px 35px;
}
.pagetitle {
	color: grey;
	padding: 30px 0px 0px 50px;
	font-size: 23px;
}
.pagesubtitle {
	padding: 0px 0px 20px 100px;
}

.content{
	width: 95%;
}
table {
	border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
	width: 95%;
	border: none;
}

th {
	background-color: #9ec6d8;
	color: white;
	font-size: 15px;
}

th, td {
	padding: 15px;
}
td{
	border-bottom: 1px solid;
	border-color: #d9d9d9;
}

.clickable tr:first-of-type:hover {
	cursor: default;
}

.clickable tr:hover {
	cursor: pointer;
	background-color: #f5f5f5
}
button:focus {
	outline:0;
}

label {
	display: inline-block;
	width: 140px;
	text-align: right;
}

#inputfield {
	width: 100px;
}

.form-control {
	width: 300px;
}
.currency{
	border-radius:4px;
	border:1px solid #AAAAAA;
}
input[type="radio"] {
  margin-top: -3px;
}

.Error{color: red;}
.Warning{color: blue;}
.Ignored{color: green;}

/*Reference: http://www.w3schools.com/howto/howto_js_snackbar.asp*/
#successtoast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #68d476;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 20;
    left: 50%;
    bottom: 70px;
    font-size: 17px;
}

.show {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 70px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 70px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 70px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 70px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}