@CHARSET "UTF-8";

.navbar {
	font-family: Verdana;
	font-size: 16px;
	background: #012231;
	border: none;
	padding-top: -10px;
	margin: 0;
	border-radius: 0;
	overflow-x: hidden;
}

.navbar .nav>li>a {
	line-height: 15px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #45a3bb;
}

.navbar .nav>li>a:hover, .navbar .nav>li>a:focus, .navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
	{
	color: #ffffff;
	background: #012231;
}
.navigationarea{
	margin-left: 120px;
}
.img-bar {
	height: 80px;
	width: auto;
	margin-left: -40px;
}

.img-logo {
	position: absolute;
	height: 65px;
	width: auto;
	top:25%;
	bottom: 15%;
	z-index: 99;
	margin-left: 100px;
	margin-bottom: 10px;
}

* {
	margin: 0;
	padding: 0;
}
html, body {
  height: 100%;
}
.container{
	width: 100%;
	padding:0;
	height: 100%;
}

.main{
	z-index: 1;
	background: #ffffff;
	overflow: autO;
	min-height: 300px;
}
.footer {
	z-index: -1;
	position: absolute;
    bottom: 0;
	line-height: 50px;
	height: 50px;
	width: 100%;
	background: url("http://i.imgur.com/Uf3PuDg.png");
	background-size: auto 50px;
	color: #959595;
	text-align: center;
	font-size: 12px;
}
/* On small screens, set height to 'auto' for sidenav and grid 
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

.carousel-inner img {
	margin: auto;
}*/

#loginform {
	margin: 100px auto;
	width: 250px;
}
#searchbar{
		background: #F0F0F0;

}
#searchbar input#searchfield {
	box-sizing: border-box;
	font-style: italic;
	border: none;
	background: none;
	font-size: 20px;
	padding: 20px;
}
#searchbar input#searchbutton {
	box-sizing: border-box;
	font-style: italic;
	border: none;
	font-size: 18px;
	background: none;
	height: 65px;
	width: 65px;	
}

#message{
	padding: 30px 0px 20px 35px;
}

table {
    width:95%;
    border: none;
}
th {
    background-color: #b3cde5;
    color: white;
    font-size: 15px;
}
th, td {
    padding: 15px;
    text-align: left;
}
tr:first-of-type:hover {
	cursor: default;
}
tr:hover {
	cursor: pointer;
	background-color: #f5f5f5
}